In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))


"""
Ans:
NameError: name 'Math' is not defined

'Math' is not a built-in module. It should be 'math'
Should use proper case for 'Math'
"""

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

"""
Ans:
UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

variable 'x' is created and not passed as a parameter to the function
"""

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

"""
Ans:
SyntaxError: invalid syntax

'=' is used for assignment, not comparison
"""

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())


"""
Ans:
The sort() method in Python sorts the list in-place, meaning it modifies the original list directly.
It does not return a new sorted list. Because it modifies the list and doesn't return a value, it implicitly returns None.
"""

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

"""
Ans:
square func does not have return type so it returns None
"""

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

"""
Ans:
TypeError: 'tuple' object does not support item assignment
tuples are immutable, meaning their elements cannot be modified after creation.
"""

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

"""
Ans:
TypeError: not enough arguments for format string
print statement one mapped name and age is not mapped.
"""

In [20]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

"""
Ans:
If condition fail because a and b are different objects in memory.
is operator checks if two variables refer to the same object in memory.
"""

In [ ]:
#9.
for i in range(5, 1):
    print(i)

"""
Ans:
return nothing becasue range() expect start value less than end value
"""

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

"""
Ans:
KeyError: 'name'
student[name] should be within double or single quotes
"""